@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body {
    color: #0f204f;
    font-family: 'Roboto Slab', serif;
    max-width: 100%;
}

main {
    font-family: "Poppins";
    background-color: #fee7e7;
    max-width: 80%;
    border: 5px solid #dc6464;
    margin: auto;
    max-width: 600px;
}

main h1{
    margin: 10px;
    text-align: center;
}

a {
    color: #526eaa;
    text-decoration: none;
}

a:hover,a:visited {
    color: #dc6464;
}

